.post-list-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-list{
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap:20px;
}