:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #2D6A4F;  /* Pastel Green */
  --color-secondary: #C4E3CB; /* Soft Mint */
  --color-background: #F1F8F5; /* Light Greenish White */
  --color-text: #2D6A4F; /* Dark Green for contrast */
  --color-secondary-text: #4db385; /* Soft Mint */
  --color-button-primary-gray: #bfbfbf; /* Soft Mint */
  --color-button-hover-gray: #e6e6e6; /* Soft Mint */
  --color-warning-primary: #b30000; /* dark red */
  --color-warning-secondary: #813131 ; /* darker red */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  scroll-behavior: smooth;
}

button,
input,
textarea,
select {
  background: none;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
