.chat-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    gap: 30px;
  }
  
  .chat-header-container {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }