.welcome-container {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100vh;
}

.welcome-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 70vw;
  background-color: white;
  border-radius: 30px;
}

.guest-left-container,
.guest-right-container {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.guest-right-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--color-secondary);
  height: 100%;
  padding: 20px;
  border-radius: 30px;
}
