button {
  margin-bottom: 10px;
  padding: 0 10px;
  height: 40px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
}

.auth-button {
  background-color: var(--color-primary);
  color: var(--color-background);
  margin-top: 30px;
  width: 80%;
}

.auth-button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.save-button,
.cancel-button {
  margin-top: 30px;
  width: 150px;
}

.save-button {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.save-button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.cancel-button {
  background-color: var(--color-button-primary-gray);
  color: white;
}

.cancel-button:hover {
  background-color: var(--color-button-hover-gray);
  color: var(--color-primary);
}

.view-profile-button{
  width: 150px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.view-profile-button:hover{
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.add-comment-button{
  width: 150px;
  background-color: var(--color-primary);
  color: var(--color-background);
}
.add-comment-button:hover{
  background-color: var(--color-secondary);
  color: var(--color-primary);
}