.auth-container {
  display: flex;
  align-items: center;
  justify-self: center;
  min-height: 100vh;
  overflow-y: auto;
}

.auth-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-height: 80vh;
  width: 80vw;
  background-color: white;
  border-radius: 30px;
}

.guest-left-container,
.guest-right-container {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guest-right-container {
  text-align: center;
  gap: 30px;
  background-color: var(--color-secondary);
  border-radius: 30px;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.auth-title {
  font-size: 30px;
  font-weight: bold;
}

.switch-auth-link {
  color: var(--color-primary);
  text-align: center;
  padding: 0;
  font-weight: lighter;
}

.switch-auth-link:hover {
  color: var(--color-secondary-text);
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: 100;
  font-size: 12px;
  height: 50px;
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: pre-wrap;
  width: 80%;
}

@media (max-width: 768px) {
  .auth-page {
    flex-direction: column-reverse;
    min-height: unset;
    height: auto;
    width: 100%;
    margin: 30px;
  }

  .auth-container {
    min-height: 100vh;
    height: auto;
  }

  .guest-left-container,
  .guest-right-container {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }

  .auth-title {
    font-size: 24px;
  }
}
